{% extends "base.html" %}

{% block content %}
<section>
    <img class="avatar" src="{{ profile.avatar.url }}" alt="">
    
    <div class="profile-details">
        <div class="username-row">
            <div class="username">{{ display_user.username }}</div>
            
            {% if display_user == user %}
                <a role="button" class="outline secondary" href="{% url 'edit_profile' %}">Edit profile</a>
            {% else %}
                <form class="follow-form" action="">
                    <input class="contrast" type="submit" value="Follow">
                </form>
            {% endif %}
        </div>
        
        <div class="count-row">
            <div>
                {{ images.count }} posts
            </div>
            <div>
                {{ followers.count }} followers
            </div>
            <div>
                {{ following.count }} following
            </div>
        </div>
    </div>
</section>
<section>
    {% for image in images %}
        <img class="image-thumb" src="{{ image.img.url }}" alt="">
    {% endfor %}
</section>
{% endblock %}