{% extends "base.html" %}

{% block content %}
    <h2>Edit Profile</h2>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li class="{{ messages.tags }}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <article class="alt-padding">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ user_form.as_p }}

            <p>
                <a class="secondary" role="button" href="{% url 'change_password' %}">Change password</a>
            </p>
            
            {{ profile_form.as_p }}

            <input type="submit" value="Save">
        </form>
    </article>
{% endblock %}