{% extends "base.html" %}

{% block content %}
    <h2>Edit Profile</h2>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li class="{{ messages.tags }}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ user_form.as_div }}
        {{ profile_form.as_div }}

        <input type="submit" value="Save">
    </form>
{% endblock %}