{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'pico.min.css' %}">
    <link rel="stylesheet" href="{% static 'base.css' %}">
    
    <title>Login</title>
</head>
<body>
    <nav class="container-fluid">
        <ul>
            <li>
                <strong><a class="contrast" href="{% url 'index' %}">Imagelog</a></strong>
            </li>
        </ul>
    </nav>
    
    <main class="container">
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>