{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'pico.min.css' %}">
    <title>Landing</title>
</head>
<body>
    <nav class="container-fluid">
        <ul>
            <li><strong>Imagelog</strong></li>
        </ul>
        <ul>
                {% if user.is_authenticated %}
                    <li><a href="#">Welcome, {{ user.username }}</a></li>
                    <li><a href="{% url 'logout' %}" role="button">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">Sign In</a></li>
                    <li><a href="{% url 'sign_up' %}" role="button">Sign Up</a></li>
                {% endif %}
        </ul>
    </nav>
    <main class="container">
        {% block content %}
        {% endblock %}
    </main> 
</body>
</html>