article.alt-padding {
    padding-top: 2rem;
    padding-bottom: 0.5rem;
}

.form-or {
    text-align: center;
}

.avatar {
    border-radius: 1000px;
    width: 150px;
    height: 150px;
}

.username {
    font-size: 2rem;
    display: inline-block
}

.image-thumb {
    width: 300px;
    height: 300px;
}