article.alt-padding {
    padding-top: 2rem;
    padding-bottom: 0.5rem;
}

.form-or {
    text-align: center;
}

.avatar {
    border-radius: 1000px;
    width: 150px;
    height: 150px;
    margin-right: 3rem;
}

.username {
    font-size: 1.7rem;
    display: inline-block
}

.image-thumb {
    width: 300px;
    height: 300px;
}

.profile-details {
    display: inline-block;
    width: 70%;
}

.username-row {
    margin-bottom: 2rem;
}

.username {
    margin-right: 2rem;
}

.follow-form {
    display: inline-block;
    padding: 0;
    margin: 0;
}

.follow-form input[type=submit] {
    margin: 0;
}

.count-row div {
    display: inline-block;
    margin-right: 2rem;
}