{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'pico.min.css' %}">
    <link rel="stylesheet" href="{% static 'base.css' %}">
    
    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>
<body>
    <nav class="container-fluid">
        <ul>
            <li>
                <strong><a class="contrast" href="{% url 'index' %}">Imagelog</a></strong>
            </li>
        </ul>
        <ul>
            {% if user.is_authenticated %}
                <li>
                    Logged in as <a href="{% url 'edit_profile' %}"><strong>{{ user.username }}</strong></a>
                </li>
                <li><a role="button" class="outline" href="#">Add post</a></li>
                <li><a href="{% url 'logout' %}" role="button">Logout</a></li>
            {% else %}
                <li><a href="{% url 'login' %}">Sign In</a></li>
                <li><a href="{% url 'sign_up' %}" role="button">Sign Up</a></li>
            {% endif %}
        </ul>
    </nav>
    <main class="container">
        {% block content %}
        {% endblock %}
    </main> 
</body>
</html>